.type-container {
    width: 100px;
    background-color: #444;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    color: #eee;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.color-1 {
    background-color: #A4ACAF;
}
.color-2 {
    background-color: #D56723;
}
.color-3 {
    background: linear-gradient(to bottom, #3DC7EF 50%, #BDB9B8 50%);
}
.color-4 {
    background-color: #B97FC9;
}
.color-5 {
    background: linear-gradient(to bottom, #F7DE3F 50%, #AB9842 50%);
}
.color-6 {
    background-color: #A38C21;
}
.color-7 {
    background-color: #729F3F;
}
.color-8 {
    background-color: #7B62A3;
}
.color-9 {
    background-color: #9EB7B8;
}
.color-10 {
    background-color: #FD7D24;
}
.color-11 {
    background-color: #4592C4;
}
.color-12 {
    background-color: #9BCC50;
}
.color-13 {
    background-color: #EED535;
}
.color-14 {
    background-color: #F366B9;
}
.color-15 {
    background-color: #51C4E7;
}
.color-16 {
    background: linear-gradient(to bottom, #53A4CF 50%, #F16E57 50%);
}
.color-17 {
    background-color: #707070;
}
.color-18 {
    background-color: #FDB9E9;
}

@media (max-width:425px) {
    .type-container {
        max-width: 80px;
        padding: 5px;
        border-radius: 5px;
    }
}